body{
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url('img/img/background-canvas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game{
  border: 3px solid #000
}
